{% extends "base.html" %}

{% block title %}
    Editar encuesta
{% endblock %}


{% block body %}
    <body>
    <form action="" method="POST">{% csrf_token %}

        <div class="grid" id="contEncuesta">

            <div id="ieC1" class="g-col-6">

                <h2 class="card-title">Editar encuesta</h2>
                <br>
                <table>
                    {{ form.as_table }}
                </table>
                <br> <br>
                <input role="button" class="btn btn-info" type="submit" value="Editar"/>&nbsp
                <a type="button" class="btn btn-warning" href="{% url 'encuestas' %}" role="button">Cancelar</a>
            </div>
            <div id="ieC2" class="g-col-6">
                {# Imagen de encuesta#}
            </div>
        </div>
    </form>

    </body>
{% endblock %}