<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link type="text/css" href='/peach/static/estilos.css' rel="stylesheet">
    <title>Error 401</title>
</head>
<body id="error401">
<div>
    <img id="err401" src='/peach/static/imagenes/401.png'>
</div>
<div id="div-401">
    <h3>
        Se deniega el acceso debido a credenciales no válidas.
    </h3>
    <h4>
        No tiene permiso para ver este directorio o página con las credenciales que proporcionó
    </h4>
</div>
<div id="div2-401">
    <img id="err401-2" src='/peach/static/imagenes/error.gif'>
</div>
</body>
</html>