<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link type="text/css" href='/peach/static/estilos.css' rel="stylesheet">
    <title>Error 404</title>
</head>
<body id="error404">
<div>
    <img id="err404" src='/peach/static/imagenes/404.png'>
</div>
<div id="div-404">
    <h3>
        Página no encontrada
    </h3>
    <h4>
        Una disculpa por los inconvenientes...
    </h4>
</div>
<div>
    <img id="err404-2" src='/peach/static/imagenes/error404.gif'>
</div>
</body>
</html>