<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link type="text/css" href='/peach/static/estilos.css' rel="stylesheet">
    <title>Error 408</title>
</head>
<body id="error408">
<div>
    <img id="err408" src='/peach/static/imagenes/408.png'>
</div>
<div id="div-408">
    <h3>
        Request Timeout
    </h3>
    <h4>
        Se tardo en cargar la solicitud, inténtelo más tarde
    </h4>
</div>
<div>
    <img id="err408-2" src='/peach/static/imagenes/tiempo.gif'>
</div>
</body>
</html>
