<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link type="text/css" href='/peach/static/estilos.css' rel="stylesheet">
    <title>Error 502</title>
</head>
<body id="error502">
<div>
    <img id="err404" src='/peach/static/imagenes/502.png'>
</div>
<div id="div-502">
    <h3>
        Error en el servidor
    </h3>
    <h4>
        Existe una puerta de enlace incorrecta, inténtelo más tarde
    </h4>
</div>
<div>
    <img id="err502-2" src='/peach/static/imagenes/pronto.jpg'>
</div>
</body>
</html>

