<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link type="text/css" href='/peach/static/estilos.css' rel="stylesheet">
    <title>Error 503</title>
</head>
<body id="error503">
<div>
    <img id="err503" src='/peach/static/imagenes/503.png'>
</div>
<div id="div-503">
    <h3>
        Error en el servidor
    </h3>
    <h4>
        El servicio no esta disponible por el momento, inténtelo más tarde
    </h4>
</div>
<div>
    <img id="err503-2" src='/peach/static/imagenes/serv.jpg'>
</div>
</body>
</html>
